<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<div layout:fragment="main_section">
    <div class="mt-5">
        <div class="border-start border-end border-bottom border-top d-flex">
<!--            <div class="card" style="width: 18rem;" th:each="team : ${teams}">-->
<!--                <img class="card-img-top" th:src="${team.team.getLogo()}" alt="Card image cap">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title" th:text="${team.team.getName()}"></h5>-->
<!--                    <a href="/" class="btn btn-primary">SHOW</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</div>
</html>